.ant-btn-primary {
  background-color: #3fc060 !important;
  border-color: #3fc060 !important;
}

.ant-btn-danger {
  background-color: #DC222B !important;
  border-color: #DC222B !important;
}


.ant-pagination-item-active {
  border-color: #3fc060 !important;
}

li.ant-pagination-item-active a {
  color: #3fc060 !important;
}
